.add_file_icon_outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3.5rem;
    border: #1db63e solid 0.1rem;
    border-radius: 0.22rem;
    cursor: pointer;
    transition: background-color ease 0.4s;
    &:hover{
        background-color: lighten(#1db63e, 45%);
    }
    .icon{
        color: #1db63e ;
        font-size: 1.5rem;
    }
}