.context-menu {
  // position: fixed;
  // z-index: 10000;
  // width: 150px;
  // background: #1b1a1a;
  // border-radius: 5px;
  // display: none;
}

Button {
  height: 2.5rem;
  width: 4.2rem;
  font-size: 0.1rem;
}

.item {
  // padding: 8px 10px;
  // font-size: 15px;
  // color: #eee;
  // cursor: pointer;
  // border-radius: inherit;
}

.item:hover {
  // background: #343434;
}

.editButtons {
  // display: flex;
  // justify-content: space-around;
}

.dashboard_folder_icon {
  border: #d6d6d6 solid 0.1rem !important;
  border-radius: 0.3rem;
  width: 10rem;
  margin: 0 3rem 3rem 0;
  padding: 0.25rem 0.8rem 0.75rem 0.8rem;
  cursor: pointer;
  transition: all ease 0.5s;
  background-color: transparent !important;
  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
  &:hover {
    border-color: lighten(yellow, 20%) !important;
    background-color: lighten(yellow, 40%) !important;
  }

  .icon_part {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      font-size: 5rem;
      color: yellow;
    }
  }

  .name_part {
    p {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1rem;
      font-weight: 500;
      color: #333;
    }
  }
}

.menu_container {
  background-color: lighten(yellow, 45%) !important;
  box-shadow: 0 0 0.25rem yellow;
  // padding: 1rem 0;
  border-radius: 0.8rem !important;

  .item {
    text-transform: capitalize;
    &:not(:last-child) {
      // margin-bottom: 0.8rem;
    }

    &:first-child {
      border-radius: 0.8rem 0.8rem 0 0;
    }

    &:last-child {
      border-radius: 0 0 0.8rem 0.8rem;
    }

    font-size: 1rem;
    font-weight: 500;
    color: #333;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: lighten(yellow, 17%);
      cursor: pointer;
    }
  }
}

.edit_mode_outer {
  // border: red solid 1px;

  .input {
    input {
      border: none;
      outline: none;
      border-radius: 0;
      border-bottom: 0.1rem solid #afafaf;
      padding: 0.2rem 0.5rem;
    }
  }

  .editButtons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .iconOuter {
      height: 2rem;
      width: 2rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .icon {
        font-size: 1rem;
        color: #fff;
        font-weight: 400;
      }
    }
    .saveIcon {
      background-color: green;
    }
    .cancelIcon {
      background-color: red;
    }
  }
}

.properties_outer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 0.5rem #bdbdbd;
  padding: 1rem;
  border-radius: 0.25rem;
  .properties_inner{
    position: relative;
    .close_icon{
      position: absolute;
      top: 0;
      right: 0;
      color: #333;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}